{% extends 'ChrisDissWebsiteBundle::layout.html.twig' %}

{% set bodyid = 'dryRun' %}
{% set ngController = 'DryRunCtrl' %}
{% set ngKeypress = 'baseController.handleUserInput($event, $scope)' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/chrisdisswebsite/css/dryRun-and-test.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# TODO: proper import management #}
    <script src="{{ asset('bundles/chrisdisswebsite/js/KeyCodeHelper.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/Colour.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/ColourFactory.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/Question.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/QuestionFactory.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/Answer.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/AnswerEvaluations.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/BaseController.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/dryRun.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="verticalCenterWrapper">
        <div id="userFocusMarker">
            .
        </div>
        <div id="answerEvaluation">
            {{ '{{baseController.getAnswerEvaluation().getMessage()}}' }}
        </div>
        <div id="question">
            <div class="blood-tube">
                <span style="color:#{{ '{{baseController.question.getColourHex()}}' }};">{{ '{{baseController.question.getColourName()}}' }}</span>
            </div>
            <div class="tube-box">
                {{ '{{baseController.question.getBoxColourName()}}' }}
            </div>
        </div>

        <div id="endOfQuestions">
            <p>
                Sie haben den Probelauf beendet und können nun mit der eigentlichen Testung beginnen. Ab jetzt wird
                Ihnen keine Rückmeldung mehr gegeben, ob Sie richtig oder falsch geantwortet haben.
            </p>
            <p>
                Deshalb denken Sie daran:
            </p>
            <ul>
                <li><strong>"Y" bei Übereinstimmung von Farbe und Fach,<br>"N" bei Nicht-Übereinstimmung</strong></li>
                <li><strong>Leertaste, wenn vertippt</strong></li>
                <li><strong>schnell antworten - die Antwortzeit ist jetzt deutlich kürzer</strong></li>
            </ul>
            <p id="mit-der-testung-beginnen">
                <a href="{{ path('testung') }}" class="btn btn-lg btn-primary">Mit der Testung beginnen</a>
            </p>
        </div>
    </div>
    <div class="hideAtFirstWhereNgCloakIsNotWorking">
        <div id="errorDetectionNotice" ng-show="baseController.answerCanBeEnteredNow() && baseController.answer.isMarkedAsErroneous() !== true">
            Bei Vertippen: Leertaste
        </div>
        <div id="locked-y" class="key" ng-show="baseController.answerCanBeEnteredNow() && baseController.answer.getLetter() === 'Y'">Y</div>
        <div id="locked-error-marker" class="key" ng-show="baseController.answerCanBeEnteredNow() && baseController.answer.isMarkedAsErroneous()">&nbsp;</div>
        <div id="locked-n" class="key" ng-show="baseController.answerCanBeEnteredNow() && baseController.answer.getLetter() === 'N'">N</div>
    </div>
{% endblock %}
