{% extends 'ChrisDissWebsiteBundle::layout.html.twig' %}

{% set bodyid = 'test' %}
{% set ngController = 'TestCtrl' %}
{% set ngKeypress = 'baseController.handleUserInput($event, $scope)' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/chrisdisswebsite/css/dryRun-and-test.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/chrisdisswebsite/css/test.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# TODO: proper import management #}
    <script src="{{ asset('bundles/chrisdisswebsite/js/KeyCodeHelper.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/Colour.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/ColourFactory.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/Question.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/QuestionFactory.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/Answer.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/AnswerEvaluations.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/TestResult.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/BaseController.js') }}"></script>
    <script src="{{ asset('bundles/chrisdisswebsite/js/test.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="verticalCenterWrapper">
        <div id="statusIsPaused" ng-show="pauseForXSeconds > 0">
            <h1>Kurze Pause</h1>
            <p>Sie haben noch {{ '{{ pauseForXSeconds }}' }} Sekunden Pause</p>
        </div>
        <div id="userFocusMarker">
            .
        </div>
        <div id="answerEvaluation">
            {{ '{{baseController.getAnswerEvaluation().getMessage()}}' }}
        </div>
        <div id="question" ng-hide="baseController.answerCanBeMarkedNow() === true && baseController.answer === null">
            <div class="blood-tube">
                <span ng-style="{color:baseController.question.getColourHex()}">{{ '{{baseController.question.getColourName()}}' }}</span>
            </div>
            <div class="tube-box">
                {{ '{{baseController.question.getBoxColourName()}}' }}
            </div>
        </div>

        <div id="endOfQuestions">
            <p>
                Für diesen Teil ist Ihre Testung beendet. Vielen Dank!
            </p>
            <p>
                <a href="{{ path('anschlussfragebogen') }}" class="btn btn-lg btn-primary">Weiter zum Fragebogen</a>
            </p>
        </div>
    </div>
    <div class="hideAtFirstWhereNgCloakIsNotWorking">
        <div id="inputPhaseOrder">
            <span ng-if="baseController.answerCanBeEnteredNow() === true">Eingabe Y/N</span>
            <span ng-if="baseController.answerCanBeMarkedNow() && baseController.answer !== null && baseController.answer.isMarkedAsErroneous() !== true">Korrektur mit Leertaste?</span>
        </div>
        <div id="locked-y" class="key" ng-show="(baseController.answerCanBeEnteredNow() || baseController.answerCanBeMarkedNow()) && baseController.answer.getLetter() === 'Y'">Y</div>
        <div id="locked-error-marker" class="key" ng-show="baseController.answerCanBeMarkedNow() && baseController.answer.isMarkedAsErroneous()">&nbsp;</div>
        <div id="locked-n" class="key" ng-show="(baseController.answerCanBeEnteredNow() || baseController.answerCanBeMarkedNow()) && baseController.answer.getLetter() === 'N'">N</div>
    </div>
{% endblock %}
