{# base layout #}
<html ng-app>
    <head>
        {% block head %}
            <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('bundles/chrisdisswebsite/css/chrisdiss.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body
        {% if bodyid is defined %}id="{{ bodyid }}"{% endif %}
        {% if ngController is defined %}ng-controller="{{ ngController }}"{% endif %}
        {% if ngKeypress is defined %}ng-keypress="{{ ngKeypress }}"{% endif %}
    >
        {% if heading is defined %}
            <h1>{{ heading }}</h1>
        {% endif %}

        {% block body %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        {% endblock %}
    </body>
</html>
